@font-face {
  font-family: HomepageFont;
  src: url('./fonts/montserrat/Montserrat-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


[data-bs-theme="light"] {
  --bg-dark: #F9F9F9;               
  --component-bg-dark: #FFFFFF;     
  --component-fg-dark: #F0F0F0;     
  --text-dark: #121212;             
  --text-alt-dark: #4A4A4A;         
  --highlight-dark: #1BAF6A;        
  --border-grey: #C4C4C4;           
  --ff-poppins: 'Poppins', sans-serif;
}

[data-bs-theme="dark"] {
  --bg-dark: #121212;
  --component-bg-dark: #1E1E1F;
  --component-fg-dark: #282829;
  --text-dark: #FAFAFA;
  --text-alt-dark: #D6D6D6;
  --highlight-dark: #30CF86;
  --border-grey: #525252;
  --ff-poppins: 'Poppins', sans-serif;
}

body {
  background-color:  var(--bg-dark);
  color: var(--text-dark);
  font-family: 'HomepageFont', sans-serif;
}

a {
  color: var(--highlight-dark);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-dark);
}

p {
  color: var(--text-dark);
}

.bi {
  color: var(--highlight-dark);
}


.bi-github, .bi-linkedin, .bi-instagram {
  color: var(--text-alt-dark);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px var(--text-dark);
  background: conic-gradient(var(--text-dark) 0 0) 0/0 100% no-repeat text;
  animation: l11 1.0s steps(11,jump-none) infinite;
}
.loader:before {
  content: "Loading...";
}
@keyframes l11 {
  to {background-size: 100% 100%}
}